body{position: relative;}
.curtains{animation: curtains-up 0.5s ease-in 0.5s forwards;

height: 300vh;
width: 100%;
background: linear-gradient(to bottom, white 50%, red 50%);
position: fixed;
z-index: 100;}

@keyframes curtains-up{
	0%{top: 0;}
	
	100%{top: -300vh;}
	
}

@keyframes pointing-right{
	from{padding:0 10px;}
	to{padding-left: 0px; padding-right: 0;}
}

@keyframes pointing-left{
	from{padding:0 10px;}
	to{padding-right: 0px; padding-left: 0;}
}

@keyframes slide-enter-rl{
	from{top: 0;left: 150vw}
	to{top: 0;left: 0}

}
@keyframes slide-enter-lr{
	from{top: 0;right: 150vw}
	to{top: 0;right: 0}

}

@keyframes slide-leave-rl{
0%{top: 0; right: 0}
99%{top: 0;right: 150vw;} 
100%{top: -1000vh;
 }
}

@keyframes slide-leave-lr{
	0%{top: 0;left:0}
	99%{top: 0;left: 150vw}
	100%{top: -1000vh}

}
@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1; visibility: visible;}
}

@keyframes slide-up{
	from{top: 100px; opacity: 0.5;}
	to{top: 0;opacity: 1;}
}

@keyframes vanish{
	from{opacity: 1;}
	to{opacity: 0; visibility: hidden;}
}

@keyframes read-more{
	from{height: 65px;}
	to{height:200px;}
}
@keyframes read-less{
	from{height: 200px;}
	to{height: 65px;}
}

@keyframes slide-right{
	from{right: 100px;}
	to{right: 0;}
}


@keyframes circle-btn-on{
	from{ width: 20px;
	height: 20px;
	border: 5px solid white;
	 }
	to{width: 20px;
	height: 20px;
 border: 5px solid white;}
}

@keyframes circle-btn-off{
	from{width: 20px;
	height: 20px;
 border: 5px solid white;}
	to{ 
		width: 20px;
	height: 20px;
	border: 5px solid white;
	
	 }
	
}