

body{
	background:#0A181E ;
	color: white;
	font-family: arial;
font-size: 14px;
margin: 0;
padding: 0;
}

*{box-sizing: border-box;}


.titlepage{position: absolute;
		width: 100%;
		height: 95vh;
		top: 0;
	 animation: 0.7s ease forwards;
	 }
.titles{
	padding-top:30vh ;
	padding-bottom: 10px;
	text-transform: uppercase;
	min-height: 12rem;}

.greeting{
	position: absolute;
	z-index: -10;
	opacity: 0.1;
	font-size: 5.5rem;
	text-align: center;
	top: 15vh;
	left: 20px;
	transform: rotate(-15deg);
}

.name-container{
	margin: 0;
	min-height: 10rem;}
.name{
	font-size: 4rem;
	text-align: center;	
}	

.job-title{
	text-transform: capitalize;
}

.view-resume, .get-in-touch{
	position: relative;
	top: 100px;
 	animation: slide-up 1s ease 8s forwards; }

.messageBar{
	position: fixed;
	bottom: 15vh;
	width: 100vw;
	background: #99E0FF;
	color: #004766;
	padding: 15px 0;
	text-transform: capitalize;
	opacity: 0;
	animation: fade-in 2s ease 12s forwards;
	text-align: center;
}

.arrow.right{
	padding: 0 20px;
	animation: pointing-right 1s ease infinite alternate-reverse;
	
}
.arrow.left{
	padding: 0 20px;
	animation: pointing-left 1s ease infinite alternate-reverse;
	
}
.cursor{border-right:1px solid ;}


.social-status{
	position: absolute;
	width: 100%;
	bottom: 5vh;
	list-style: none;


}
.social-status a{color: white;
	text-decoration: none;
	visibility: hidden;
animation: fade-in 1s ease 10s forwards;}
.social-status img{ max-width: 75px; }

.projects-heading{
font-size: calc(100% + 3vw);
	padding: 10px;
}
.projects-container{
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.card{
	width: 100%;
	border-radius: 20px;
	position: relative;
}
.card img{
	border-radius: 20px;

}


img{max-width: 100%}

.project-description{

	height: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	animation: read-more 1s ease;
	
	animation: 1s ease forwards ;
	opacity: 0.9;
}
.project-description::before{
	content: "";
    position: absolute;
   bottom: 45px;
    height: 20px;
    width: 100%;
    pointer-events: none;
   
    background-image : -webkit-linear-gradient(to bottom, transparent, #0A181E);
    background-image : linear-gradient(to bottom, transparent, #0A181E);
}

.read-more{
	margin: 10px;
	text-align: right;
	background: none;
	opacity: 1;
	
}

form{
	position: relative;
	width: 80%;
	margin: 0 auto;
}
input,textarea,button{font-family: inherit;
font-size: inherit;}

form h2{text-align: center;}

form div{ margin-bottom:20px ; }

input,textarea{width: 100%;
	padding: 5px;
}

textarea{
	height: 100px;
	resize: none;}

label{font-size: 0.6rem;}

.projectpage,.messageform{
	padding-top: 50px;
	 width: 100vw;
	 position: absolute;
	 top:-1000vh;
	 animation: 0.7s ease forwards;
}

.text-left{text-align: left;}
.text-right{text-align: right;}
.capitalize{text-transform: capitalize;}
.btn{
	border: 1px solid;
	padding: 10px;
	display: inline-block;
	color: white;
	background: none;
}
.btn-success{background:#009DE0 ;}

.flex{display: flex;}
.center{
	align-items: center;
	justify-content: center;}
.space-around{justify-content: space-around;}
.space-between{justify-content: space-between;}

.m-0{margin: 0}
.of-hidden{overflow: hidden;}

@keyframes pointing-right{
	from{padding-left: 20px;}
	to{padding-left: 10px;}
}

@keyframes pointing-left{
	from{padding-right: 20px;}
	to{padding-right: 10px;}
}

@keyframes slide-enter-rl{
	from{top: 0;left: 150vw}
	to{top: 0;left: 0}

}
@keyframes slide-enter-lr{
	from{top: 0;right: 150vw}
	to{top: 0;right: 0}

}

@keyframes slide-leave-rl{
0%{top: 0; right: 0}
99%{top: 0;right: 150vw;} 
100%{top: -1000vh;
 }
}

@keyframes slide-leave-lr{
	0%{top: 0;left:0}
	99%{top: 0;left: 150vw}
	100%{top: -1000vh}

}
@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1; visibility: visible;}
}

@keyframes slide-up{
	from{top: 100px; opacity: 0.5;}
	to{top: 0;opacity: 1;}
}

@keyframes vanish{
	from{opacity: 1;}
	to{opacity: 0;}
}

@keyframes read-more{
	from{height: 90px;}
	to{height:210px;}
}
@keyframes read-less{
	from{height: 210px;}
	to{height: 90px;}
}