

body{
	background:#0A181E ;
	color: white;
	font-family: arial;
font-size: 14px;
margin: 0;
padding: 0;
overflow-x: hidden;
}

*{box-sizing: border-box;}


.titlepage{position: absolute;
		width: 100%;
		height: 95vh;
		top: 0;
	 animation: 0.7s ease forwards;
	 }
.titles{
	padding-top:30vh ;
	padding-bottom: 10px;
	text-transform: uppercase;
	min-height: 12rem;}

.greeting{
	position: absolute;
	z-index: -10;
	opacity: 0.1;
	font-size: 5.5rem;
	text-align: center;
	top: 15vh;
	left: 20px;
	transform: rotate(-15deg);
}

.name-container{
	margin: 0;
	min-height: 10rem;}
.name{
	font-size: 4rem;
	text-align: center;	
}	

.job-title{
	text-transform: capitalize;
}

.view-resume, .get-in-touch{
	position: relative;
	top: 100px;
 	animation: slide-up 1s ease 8s forwards; }

.messageBar{
	position: fixed;
	bottom: 15vh;
	width: 100vw;
	background: #99E0FF;
	color: #004766;
	padding: 15px 0;
	text-transform: capitalize;
	opacity: 0;
	animation: fade-in 2s ease 12s forwards;
	text-align: center;
}

.arrow.right{
	padding: 0 10px;
	animation: pointing-right 1s ease-in infinite alternate-reverse;
	
}
.arrow.left{
	padding: 0 10px;
	animation: pointing-left 1s ease-out 1s infinite alternate-reverse;
	
}
.cursor{border-right:1px solid ;}


.social-status{
	position: absolute;
	width: 100%;
	bottom: 5vh;
	list-style: none;


}
.social-status a{color: white;
	text-decoration: none;
	visibility: hidden;
animation: fade-in 1s ease 10s forwards;}
.social-status img{ max-width: 75px; }

.projects-heading{
font-size: calc(100% + 3vw);
	padding: 10px;
}
.projects-container{
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.project{
	width: 90%;
}
.card{
	width: 100%;
	border-radius: 20px;
	position: relative;
}
.card img{
	border-radius: 20px;

}


img{max-width: 100%}

.description{

	height: 65px;
	overflow: hidden;
	text-overflow: ellipsis;
	animation: read-more 1s ease;
	
	animation: 1s ease forwards ;
	opacity: 0.9;
}


.read-more{
	margin: 10px;
	text-align: right;
	background: none;
	opacity: 1;
	z-index: 100;
	
}

.messageform{
	padding-top: 20px;
}
form{
	position: relative;
	width: 100%;
	margin: 0 auto;
}
input,textarea,button{font-family: inherit;
font-size: inherit;}

form *{outline: none;}

form h2{padding-left: 10px;}

form div{border-bottom: 1px solid grey;padding: 10px;background: white; }
form div:last-child{border:none}

.email{  color:grey; }


.email.to{background: #E1E1E1 ;}
.email.to input{}

input,textarea{
	width: 100%;
	border: none;
	padding:0 10px
	
}

textarea{
	height:150px;
	resize: none;
	margin-top:-0.5px ;
}

form button{
	font-size:20px;
	position: absolute;
	top: -5px;
	right: 10px;
	padding: 5px 30px;
background:#3182FB;
border: none;
color: white;
border-radius: 2px;}

label{font-size: 0.8rem; 
	display: inline-block;
	 padding:0 10px; 
	 border: none;}

.projectpage,.messageform{
	 width: 100vw;
	 position: absolute;
	 top:-1000vh;
	 animation: 0.7s ease forwards;
}


.text-left{text-align: left;}
.text-right{text-align: right;}
.capitalize{text-transform: capitalize;}
.btn{
	border: 1px solid;
	padding: 10px;
	display: inline-block;
	color: white;
	background: none;
	text-align: center;
}
.btn-success{background:#3182FB;
border: none;}

.flex{display: flex;}
.align-center{
	align-items: center;}
.center{
	align-items: center;
	justify-content: center;}
.space-around{justify-content: space-around;}
.space-between{justify-content: space-between;}

.m-0{margin: 0}
.of-hidden{overflow: hidden;}

nav{
	position: fixed;
	width:95%;
	z-index: 50;
	top: 50vh;
	left: 2.5%;
	pointer-events: none;
	
	
		}
nav p{
	overflow: hidden;
}
nav button{
	position: relative;
		background:#90C8E0 ;
		border: none;
		padding:25px 20px 25px 10px;
		width: 35px;
		
		z-index: 100;
		pointer-events: auto;
		font-size:2rem ;
		right: 100px;
		animation: slide-right 1s ease 0s forwards;

	}

@media(pointer: fine){
	
	.messageform{
		padding-top: 100px;
	}
	.project,form{width: calc(300px + 10vw);}
}
@media( width > 560px){

	.greeting{
		font-size: 8rem;
		left: 15vw;
			}
	.name-container{
	min-height: 5rem;}

	

	.project{
		max-width: 445px;
	}


	
}

@media (width > 900px){
	.greeting{
		font-size: 10rem;
		left: 20vw}

	.info-box{
		width: 870px;
		margin: 0 auto;}

	.name{font-size:5rem ;}
	
	

.projects-container{
	overflow: hidden;
	display: flex;
	max-width: 800px;
}
.project{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	min-width: 800px;
	margin-right:100px ;
	
}	
.projects-nav{
	margin-top: 20px;

}
.projects-nav button{
border-radius: 50%;
margin-left:5px ;


}
.btn-active{
	width: 15px;
	height: 15px;
 background: skyblue; }
.btn-inactive{
	width: 15px;
	height: 15px;
	background: none;}

}