h1{ font-size: 3rem; }
		*{box-sizing: border-box;}
		img{max-width: 100%;}
		.border{border: 5px solid ;}

		.project{
			width: calc(100% - 20vw);
			display: grid;
			grid-template-columns: 400px 1fr;
			grid-gap: 20px;}
	
	.card img{ border-radius: 15px ;}
	.text-right{text-align: right;}
	.text-left{text-align: left;}
	.center{text-align: center;}

	

	form{
		width: 500px;
		padding: 20px;
		margin: 0 auto;
	}

	form div{margin-bottom: 10px;}

	
	input,textarea{
				 width:100%;
				padding:5px ;
				
			}

	textarea{
		resize:none ;
		height: 150px;}


@media(width <55em){

		.project{
			width: 98%;
			grid-template-columns: 350px 1fr;}
	}
	@media( width < 44em){

		h1{
			font-size: 2rem;}

		.card img{
			width: 450px}

		.project{
			display: block;}

		.link{
			text-align:left;}

		form{width: 100%;}
	}
